In [11]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from imblearn.over_sampling import RandomOverSampler
import random

In [2]:
from sklearn.svm import SVC
from sklearn.metrics import classification_report

In [9]:
df = pd.read_csv("iris\iris.csv")
nb_row, nb_col = df.shape
nb_row, nb_col

(150, 5)

In [10]:
df.head(5)

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [5]:
def scale_dataset(dataframe, oversample=False):
  X = dataframe[dataframe.columns[:-1]].values
  y = dataframe[dataframe.columns[-1]].values

  scaler = StandardScaler()
  X = scaler.fit_transform(X)

  if oversample:
    ros = RandomOverSampler()
    X, y = ros.fit_resample(X, y)

  data = np.hstack((X, np.reshape(y, (-1, 1))))

  return data, X, y

In [6]:
#train, valid, test = np.split(df.sample(frac=1), [int(0.7*len(df)), int(0.71*len(df))])

train, test = np.split(df.sample(frac=1), [int(0.7*len(df))])

train, x_train, y_train = scale_dataset(train, oversample=True)
#valid, x_valid, y_valid = scale_dataset(valid, oversample=False)
test, x_test, y_test = scale_dataset(test, oversample=False)

c:\Users\misso\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\fromnumeric.py:59: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)

## SVM

In [7]:
def svm():
    svm_model = SVC(kernel='linear')
    svm_model = svm_model.fit(x_train, y_train)
    y_pred = svm_model.predict(x_test)
    print(classification_report(y_test, y_pred))

In [33]:

#SVC(kernel='rbf') => accuracy = 0.9
#SVC(kernel='linear') => accuracy = 0.93
#SVC(kernel='poly') => accuracy = 0.83
#SVC(kernel='sigmoid') => accuracy = 0.9

#if we modify % of dataset in train and test, it modify the accuracy

              precision    recall  f1-score   support

      Setosa       1.00      1.00      1.00        17
  Versicolor       1.00      0.86      0.92        14
   Virginica       0.88      1.00      0.93        14

    accuracy                           0.96        45
   macro avg       0.96      0.95      0.95        45
weighted avg       0.96      0.96      0.96        45

## Log Regression

In [13]:
from sklearn.linear_model import LogisticRegression

In [14]:
lg_model = LogisticRegression()
lg_model = lg_model.fit(x_train,y_train)

In [15]:
y_pred = lg_model.predict(x_test)
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

      Setosa       1.00      1.00      1.00        11
  Versicolor       0.79      1.00      0.88        15
   Virginica       1.00      0.79      0.88        19

    accuracy                           0.91        45
   macro avg       0.93      0.93      0.92        45
weighted avg       0.93      0.91      0.91        45

## TensorFlow

In [12]:
import tensorflow as tf
from sklearn.model_selection import train_test_split
import numpy as np

In [18]:
selected_columns = ['sepal.length', 'sepal.width', 'petal.length', 'petal.width']
X = df[selected_columns].copy()
X

     sepal.length  sepal.width  petal.length  petal.width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [20]:
selected_columns = ['variety']
Y = df[selected_columns].copy()
Y

       variety
0       Setosa
1       Setosa
2       Setosa
3       Setosa
4       Setosa
..         ...
145  Virginica
146  Virginica
147  Virginica
148  Virginica
149  Virginica

[150 rows x 1 columns]

In [ ]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:


# Build the neural network
model = tf.keras.Sequential([
    tf.keras.layers.Dense(8, input_dim=X.shape[1], activation='relu'),  # Input layer with 8 neurons
    tf.keras.layers.Dense(1, activation='sigmoid')  # Output layer with 1 neuron (sigmoid for binary classification)
])